<div class="card flex justify-center">
  <p-button (click)="showDialog()" label="Show Details" />
  <p-dialog
    header="Room Number: {{ room.number }}"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '600px', height: '600px' }"
  >
    @if (visible == true) {
    <img id="main" src="{{ imageRoomList[0].image }}" />
    <section class="container">
      @for (image of imageRoomList; track $index) {
      <img
        id="img-{{ $index }}"
        (click)="changeImage($index)"
        src="{{ imageRoomList[$index].image }}"
      />
      }
    </section>
    }
    <section class="bookingForm">
      <p-datepicker
        [(ngModel)]="checkinday"
        size="small"
        placeholder="Check in Day"
        showIcon
        iconDisplay="input"
      />
      <p-inputnumber
        [(ngModel)]="days"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
      >
        <ng-template #incrementbuttonicon>
          <span class="pi pi-plus">+</span>
        </ng-template>
        <ng-template #decrementbuttonicon>
          <span class="pi pi-minus">-</span>
        </ng-template>
      </p-inputnumber>
    </section>
    <div>
      <p-button label="Cancel" severity="secondary" (click)="visible = false" />
      <p-button label="Save" (click)="postBooking(room.id)" />
    </div>
  </p-dialog>
</div>
