<div class="mb-4 p-8 flex items-center justify-center">
  <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template #header>
      <img
        alt="Card"
        class="w-full"
        width="500px"
        height="350px"
        src="{{ getMainImage(room()?.imageRoom) }}"
      />
    </ng-template>
    <ng-template #title>Room Number: {{ room()?.number }}° </ng-template>
    <p>
      Availability: {{ room()?.availability }} | Price: ${{ room()?.price }}
    </p>
    <p></p>
    <ng-template #footer>
      <div class="flex gap-4 mt-1">
        <app-room-detail [inputRoomId]="room()?.id"></app-room-detail>
      </div>
    </ng-template>
  </p-card>
</div>
